{% extends 'layout.twig' %}

{% block body %}
    {% verbatim %}
        <div class="container" v-cloak id="app">
            <h1 class="p-2">PhoneBook</h1>
            <hr>
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>First name<span v-if="isEmptyFirstName" class="badge badge-danger">Field is empty</span></label>
                        <input v-model="firstName" @input="isEmptyFirstName = false" type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Last name<span v-if="isEmptyLastName" class="badge badge-danger">Field is empty</span></label>
                        <input v-model="lastName" @input="isEmptyLastName = false" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Phone number<span v-if="isEmptyPhone" class="badge badge-danger">Field is empty</span></label>
                        <input v-model="phone" @input="isEmptyPhone = false" type="number" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Please input contact data and press "Add" button</label>
                        <div class="form-row">
                            <button @click.prevent="add" class="btn form-group btn-primary offset-md-1 col-md-5">Add</button>
                            <button @click="clearInputs"
                                    class="btn form-group btn-secondary offset-md-1 col-md-5"
                                    :disabled="hasNoFilledFields">Clear
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-row ">
                    <input v-model="term" type="text" class="form-control form-group col-md-8">
                    <button class="btn form-group btn-primary offset-md-1 col-md-3"
                            :disabled="isEmptyTerm">Search
                    </button>
                </div>
            </form>
            <table class="table fixed-layout-table">
                <thead class="thead-light">
                <tr>
                    <th>
                        <input type="checkbox" v-model="selectAll" class="position-relative" :disabled="hasEmptyContacts">
                    </th>
                    <th>#</th>
                    <th class="w-20">First</th>
                    <th class="w-20">Last</th>
                    <th class="w-25">Phone</th>
                    <th class="w-15">
                        <button @click="openConfirmationModal()" :disabled="hasNoCheckedContacts" class="btn p-0 btn-danger" type="button">
                               Remove selected
                        </button>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr :key="contact.id" v-for="(contact, index) in contacts">
                    <td>
                        <input type="checkbox" v-model="checkedContactsIDs" :value="contact.id" number
                               class="position-relative">
                    </td>
                    <td>{{ index + 1 }}</td>
                    <td class="text-truncate">{{ contact.firstName }}</td>
                    <td class="text-truncate">{{ contact.lastName }}</td>
                    <td class="text-truncate">{{ contact.phone }}</td>
                    <td>
                        <button @click="openConfirmationModal(contact)"
                                class="btn btn-danger" type="button">
                            <b-icon icon="trash" class="rounded-circle bg-danger"></b-icon>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

            <b-modal id="confirmation-modal"
            @ok="remove()"
            > {{ modalText }}
            </b-modal>

        </div>
    {% endverbatim %}
{% endblock %}